<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thanhcs.dictionarydemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="thanhcs.dictionarydemo.Dictionary"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dictionary.listword.ListWord"
            android:label="@string/title_activity_list_word" >
        </activity>
        <activity
            android:name="dictionary.listword.FindWord"
            android:label="@string/title_activity_find_word" >
        </activity>
        <activity
            android:name="dictionary.listword.ViewWord"
            android:label="@string/title_activity_view_word"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="listcaunoithongdung.dictionary.List1000CauNoiThongDung"
            android:label="@string/title_activity_list1000_cau_noi_thong_dung" >
        </activity>
        <activity
            android:name="thanhcs.game.Game_Word"
            android:label="@string/title_activity_game__word" >
        </activity>
        <activity
            android:name="thanhcs.game.Game_Mean"
            android:label="@string/title_activity_game__mean" >
        </activity>
        <activity
            android:name="thanhcs.game.DangNhapGame"
            android:label="@string/title_activity_dang_nhap_game" >
        </activity>
        <activity
            android:name="thanhcs.lesson_grammar.Select_Leson_Grammar"
            android:label="@string/title_activity_select__leson__grammar" >
        </activity>
        <activity
            android:name="thanhcs.lesson_grammar.ViewGrammar"
            android:label="@string/title_activity_view_grammar" >
        </activity>
        <activity
            android:name="listcaunoithongdung.dictionary.ShowViewCntd"
            android:label="@string/title_activity_show_view_cntd" >
        </activity>
    </application>

</manifest>